/* Fonts family */
@font-face {
  font-family: 'Lato-reg';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-black';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Black.woff2') format('woff2'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype'), url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Teko-reg';
  src: url('../fonts/Teko-Regular.eot');
  src: url('../fonts/Teko-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Teko-Regular.woff2') format('woff2'), url('../fonts/Teko-Regular.woff') format('woff'), url('../fonts/Teko-Regular.ttf') format('truetype'), url('../fonts/Teko-Regular.svg#Teko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
html body {
  font-family: 'Lato-reg', sans-serif;
}
.slick-slide {
  outline: none;
}
/* Typography */
section {
  padding: 8rem 0;
}
.head-line-text {
  font-family: 'Lato-black', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3rem;
  color: #010101;
}
.info-text {
  font-family: 'Lato-reg', sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #010101;
}
.button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Teko-reg', sans-serif;
  font-size: 3rem;
  background-color: #010101;
  padding: 0.6rem 2rem 0.25rem;
  border-radius: 0.5rem;
  line-height: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #4e4e4e;
}
/* Main */
.main {
  background: url("../img/header-background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  /* Main page menu */
  /* Main text info about this website */
}
.main .header {
  padding-top: 4rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
.main .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .header .logo .logo-name {
  color: #ffffff;
  font-family: 'Lato-black', sans-serif;
  font-size: 4rem;
  line-height: 4rem;
}
.main .header .logo .logo-name strong {
  text-transform: uppercase;
  color: #daa504;
}
.main .header .logo .logo-tagline {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Lato-black', sans-serif;
  letter-spacing: 0.25rem;
  white-space: nowrap;
}
.main .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Lato-reg', sans-serif;
}
.main .header .menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5rem;
  white-space: nowrap;
}
.main .header .menu a:hover {
  color: #010101;
  background-color: #ffc61a;
  padding: 0.5rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5rem;
  font-weight: bold;
}
.main .main-text {
  padding-top: 6rem;
  padding-bottom: 48rem;
}
.main .main-text .order-text {
  font-size: 3rem;
  color: #ffc61a;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
.main .main-text .phone-text {
  font-size: 7rem;
  color: #ffffff;
  font-family: 'Lato-black', sans-serif;
  white-space: nowrap;
  text-align: center;
  line-height: 7rem;
}
.main .main-text .website-text {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1.2rem;
}
.main .main-text .main-car {
  display: block;
  width: 100%;
  margin-top: 6.5rem;
  position: absolute;
  top: 17rem;
  left: 0;
}
/* Section-about-booking-form */
.about-booking-form {
  background-color: #ffc61a;
}
.about-booking-form .about-booking {
  padding-top: 4.5rem;
  max-width: 50rem;
}
.about-booking-form .about-booking h1 {
  font-family: 'Lato-black', sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 4.8rem;
}
.about-booking-form .about-booking .info-text {
  margin-top: 3.5rem;
}
.about-booking-form .booking-form {
  max-width: 42rem;
  width: 100%;
  padding-top: 4.5rem;
}
.about-booking-form .booking-form span {
  display: block;
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Lato-reg', sans-serif;
  background-color: #010101;
  width: 100%;
  line-height: 8rem;
  padding-left: 4rem;
}
.about-booking-form .booking-form strong {
  color: #ffc61a;
}
.about-booking-form .booking-form .forms {
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  /* Time and date form */
  /* Vehicle form */
}
.about-booking-form .booking-form .forms .order-info-name-phone,
.about-booking-form .booking-form .forms .order-info-when-time,
.about-booking-form .booking-form .forms .order-info-start-end,
.about-booking-form .booking-form .forms .select-vehicle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Form starting styles */
}
.about-booking-form .booking-form .forms .order-info-name-phone .group,
.about-booking-form .booking-form .forms .order-info-when-time .group,
.about-booking-form .booking-form .forms .order-info-start-end .group,
.about-booking-form .booking-form .forms .select-vehicle .group {
  position: relative;
  margin-bottom: 3rem;
  width: 45%;
  /* Label */
  /* Bottom Bars */
}
.about-booking-form .booking-form .forms .order-info-name-phone .group input,
.about-booking-form .booking-form .forms .order-info-when-time .group input,
.about-booking-form .booking-form .forms .order-info-start-end .group input,
.about-booking-form .booking-form .forms .select-vehicle .group input {
  font-size: 2rem;
  padding-bottom: 0;
  padding-left: 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.2rem solid #e4e4e4;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group input:focus,
.about-booking-form .booking-form .forms .order-info-when-time .group input:focus,
.about-booking-form .booking-form .forms .order-info-start-end .group input:focus,
.about-booking-form .booking-form .forms .select-vehicle .group input:focus {
  outline: none;
  /* Active state */
}
.about-booking-form .booking-form .forms .order-info-name-phone .group input:focus ~ label,
.about-booking-form .booking-form .forms .order-info-when-time .group input:focus ~ label,
.about-booking-form .booking-form .forms .order-info-start-end .group input:focus ~ label,
.about-booking-form .booking-form .forms .select-vehicle .group input:focus ~ label {
  top: -1.5rem;
  font-size: 1.4rem;
  color: #010101;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group input:valid ~ label,
.about-booking-form .booking-form .forms .order-info-when-time .group input:valid ~ label,
.about-booking-form .booking-form .forms .order-info-start-end .group input:valid ~ label,
.about-booking-form .booking-form .forms .select-vehicle .group input:valid ~ label {
  top: -1.5rem;
  font-size: 1.4rem;
  color: #e4e4e4;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group label,
.about-booking-form .booking-form .forms .order-info-when-time .group label,
.about-booking-form .booking-form .forms .order-info-start-end .group label,
.about-booking-form .booking-form .forms .select-vehicle .group label {
  color: #010101;
  font-size: 1.8rem;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0.8rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar,
.about-booking-form .booking-form .forms .select-vehicle .group .bar {
  position: relative;
  display: block;
  width: 100%;
  /* active state */
}
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar:before,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar:before,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar:before,
.about-booking-form .booking-form .forms .select-vehicle .group .bar:before,
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar:after,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar:after,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar:after,
.about-booking-form .booking-form .forms .select-vehicle .group .bar:after {
  content: "";
  height: 0.2rem;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #010101;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar:before,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar:before,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar:before,
.about-booking-form .booking-form .forms .select-vehicle .group .bar:before {
  left: 50%;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar:after,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar:after,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar:after,
.about-booking-form .booking-form .forms .select-vehicle .group .bar:after {
  right: 50%;
}
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar input:focus ~ .bar:before,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar input:focus ~ .bar:before,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar input:focus ~ .bar:before,
.about-booking-form .booking-form .forms .select-vehicle .group .bar input:focus ~ .bar:before,
.about-booking-form .booking-form .forms .order-info-name-phone .group .bar input:focus ~ .bar:after,
.about-booking-form .booking-form .forms .order-info-when-time .group .bar input:focus ~ .bar:after,
.about-booking-form .booking-form .forms .order-info-start-end .group .bar input:focus ~ .bar:after,
.about-booking-form .booking-form .forms .select-vehicle .group .bar input:focus ~ .bar:after {
  width: 50%;
}
.about-booking-form .booking-form .forms .order-info-when-time .group label {
  opacity: 0;
}
.about-booking-form .booking-form .forms .order-info-when-time .group input:focus ~ label {
  opacity: 1;
}
.about-booking-form .booking-form .forms .select-vehicle .group {
  width: 100%;
}
.about-booking-form .booking-form .forms .button {
  width: 100%;
}
/* Tariffs */
.tariffs h2 {
  color: #ffc61a;
  font-size: 3.5rem;
  font-family: 'Lato-black', sans-serif;
  line-height: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
}
.tariffs h2 strong {
  color: #010101;
  font-size: 4.4rem;
  line-height: 4.4rem;
}
.tariffs .car-container-slider {
  width: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .tariffs .car-container-slider {
    display: block;
    margin: auto;
  }
}
@media (max-width: 992px) and (max-width: 976px) {
  .tariffs .car-container-slider {
    max-width: 50rem;
  }
}
@media (max-width: 992px) and (max-width: 976px) and (max-width: 618px) {
  .tariffs .car-container-slider {
    max-width: 40rem;
  }
}
@media (max-width: 992px) and (max-width: 976px) and (max-width: 618px) and (max-width: 518px) {
  .tariffs .car-container-slider {
    max-width: 30rem;
  }
}
.tariffs .car-container-slider .cards {
  border: none;
  max-width: 37rem;
  background-color: #f5f4f2;
  position: relative;
  margin-top: 14.5rem;
  margin-bottom: 4rem;
  padding: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
@media (max-width: 992px) {
  .tariffs .car-container-slider .cards {
    margin-left: auto;
    margin-right: auto;
  }
}
.tariffs .car-container-slider .cards:hover {
  background-color: #ffc61a;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tariffs .car-container-slider .cards:hover .price {
  color: #010101;
}
.tariffs .car-container-slider .cards:hover .button {
  background-color: #010101;
  color: #ffffff;
}
.tariffs .car-container-slider .cards:hover .star-container {
  display: block;
}
.tariffs .car-container-slider .cards img {
  position: absolute;
  width: 100%;
  bottom: 84%;
  left: 0;
}
.tariffs .car-container-slider .cards h3 {
  color: #010101;
  font-family: 'Lato-black', sans-serif;
  font-size: 3rem;
  padding-top: 6rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .tariffs .car-container-slider .cards h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) and (max-width: 425px) {
  .tariffs .car-container-slider .cards h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1200px) and (max-width: 425px) and (max-width: 380px) {
  .tariffs .car-container-slider .cards h3 {
    font-size: 1.5rem;
  }
}
.tariffs .car-container-slider .cards .info-text {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lato-reg', sans-serif;
}
.tariffs .car-container-slider .cards .price {
  color: #ffc61a;
  font-size: 4.3rem;
  margin-top: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4.3rem;
  font-family: 'Lato-black', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tariffs .car-container-slider .cards .button {
  max-width: 16rem;
  margin: 3.5rem auto auto;
  background-color: #ffc61a;
  color: #010101;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tariffs .car-container-slider .cards .button:hover {
  color: #ffffff;
  background-color: #4e4e4e;
}
.tariffs .car-container-slider .cards .star-container {
  display: none;
  max-width: 7.4rem;
  max-height: 7.4rem;
  position: absolute;
  left: 79%;
  top: 82%;
  right: 0;
  bottom: 0;
  background-color: #010101;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 992px) {
  .tariffs .car-container-slider .cards .star-container {
    left: 80%;
  }
}
.tariffs .car-container-slider .cards .star-container img {
  width: 35%;
  bottom: 13%;
  right: 0;
  left: 49%;
}
/* Slick slider arrows */
.arrow-next {
  display: block;
  max-width: 5rem;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 3;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  border: none;
  outline: none;
  background: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.arrow-next:hover {
  cursor: pointer;
  -webkit-transform: translateX(5rem) scale(1.2);
          transform: translateX(5rem) scale(1.2);
}
.arrow-next:focus {
  outline: none;
}
.arrow-prev {
  display: block;
  max-width: 5rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 3;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  border: none;
  outline: none;
  background: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.arrow-prev:hover {
  cursor: pointer;
  -webkit-transform: translateX(-5rem) scale(1.2);
          transform: translateX(-5rem) scale(1.2);
}
.arrow-prev:focus {
  outline: none;
}
/* Advantages section */
.advantages {
  background: url("../img/bg-advantages.jpg") no-repeat;
  background-size: cover;
}
.advantages .order-text {
  font-size: 3rem;
  color: #ffc61a;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
.advantages .text-header {
  color: #ffffff;
  font-size: 4.3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4.3rem;
  font-family: 'Lato-black', sans-serif;
  margin-bottom: 10rem;
}
.advantages .advantage-container .advantage-item {
  position: relative;
  padding-left: 12rem;
  margin-bottom: 12rem;
}
.advantages .advantage-container .advantage-item h4 {
  font-size: 2.5rem;
  color: #ffc61a;
  text-transform: uppercase;
  line-height: 2.5rem;
  font-family: 'Lato-black', sans-serif;
}
.advantages .advantage-container .advantage-item .info-text {
  color: #ffffff;
}
.advantages .advantage-container .advantage-item img {
  position: absolute;
  left: 0;
  top: -10%;
  max-width: 100%;
}
@media (max-width: 400px) {
  .advantages .advantage-container .advantage-item img {
    top: 2%;
  }
}
.advantages .button {
  display: block;
  background-color: #ffc61a;
  color: #010101;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: auto;
}
.advantages .button:hover {
  background-color: #010101;
  color: #ffffff;
}
.advantages .button:focus {
  outline: none;
}
/* App section */
.taxi-app {
  position: relative;
  padding-bottom: 16rem;
}
@media (max-width: 992px) {
  .taxi-app {
    padding-bottom: 3rem;
  }
}
.taxi-app .order-text {
  font-size: 3rem;
  color: #ffc61a;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 490px) {
  .taxi-app .order-text {
    font-size: 2rem;
  }
}
.taxi-app .text-header {
  color: #010101;
  font-size: 4.3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4.3rem;
  margin-bottom: 10rem;
  font-family: 'Lato-black', sans-serif;
}
@media (max-width: 992px) {
  .taxi-app .text-header {
    margin-bottom: 5rem;
  }
}
@media (max-width: 992px) and (max-width: 490px) {
  .taxi-app .text-header {
    font-size: 3rem;
  }
}
.taxi-app .app-container {
  padding-left: 10rem;
}
@media (max-width: 992px) {
  .taxi-app .app-container {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.taxi-app .app-container h5 {
  font-size: 2.5rem;
  color: #010101;
  line-height: 2.5rem;
  font-family: 'Lato-black', sans-serif;
  padding-top: 2rem;
}
@media (max-width: 992px) {
  .taxi-app .app-container h5 {
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 490px) {
  .taxi-app .app-container h5 {
    font-size: 2rem;
  }
}
.taxi-app .app-container .info-text {
  font-family: 'Lato-reg', sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #010101;
  margin-top: 3rem;
}
@media (max-width: 992px) {
  .taxi-app .app-container .info-text {
    text-align: center;
  }
}
.taxi-app .app-container .app-link-container {
  margin-top: 7rem;
}
@media (max-width: 490px) {
  .taxi-app .app-container .app-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.taxi-app .app-container .app-link-container img {
  padding-right: 2rem;
  max-width: 100%;
}
.taxi-app .app-container .app-link-container img:nth-child(2) {
  padding-right: 0;
}
@media (max-width: 490px) {
  .taxi-app .app-container .app-link-container img:first-child {
    padding-right: 0;
    margin-bottom: 2rem;
  }
}
.taxi-app .app-container .app-link-container img:hover {
  cursor: pointer;
}
.taxi-app .hand {
  position: absolute;
  right: 12%;
  bottom: 0;
}
@media (max-width: 1200px) {
  .taxi-app .hand {
    right: 0;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .taxi-app .hand {
    display: none;
  }
}
/* Feedback section */
.feedback {
  background: url("../img/faces.jpg") no-repeat;
  background-size: cover;
}
.feedback .order-text {
  font-size: 3rem;
  color: #ffc61a;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 490px) {
  .feedback .order-text {
    font-size: 2rem;
  }
}
.feedback .text-header {
  color: #ffffff;
  font-size: 4.3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4.3rem;
  margin-bottom: 10rem;
  font-family: 'Lato-black', sans-serif;
}
@media (max-width: 992px) {
  .feedback .text-header {
    margin-bottom: 5rem;
  }
}
@media (max-width: 992px) and (max-width: 490px) {
  .feedback .text-header {
    font-size: 3rem;
  }
}
.feedback .feedback-container .slider-item-container {
  background-color: #010101;
  border-radius: 5rem;
  max-width: 50rem;
  padding: 3rem 4rem;
  position: relative;
  margin: auto auto 3rem;
}
@media (max-width: 1200px) {
  .feedback .feedback-container .slider-item-container {
    max-width: 40rem;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .feedback .feedback-container .slider-item-container {
    max-width: 50rem;
  }
}
.feedback .feedback-container .slider-item-container:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2rem;
  right: 14%;
  background-color: #010101;
  width: 2rem;
  height: 2rem;
  border: 2px solid #010101;
  border-top: none;
  border-bottom-left-radius: 10rem;
}
.feedback .feedback-container .slider-item-container .info-text {
  font-family: 'Lato-reg', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .feedback .feedback-container .slider-item-container .info-text {
    font-size: 1.1rem;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .feedback .feedback-container .slider-item-container .info-text {
    text-align: center;
    font-size: 1.5rem;
  }
}
.feedback .feedback-container .slider-item-container .client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback .feedback-container .slider-item-container .client-container img {
  margin-right: 2rem;
}
.feedback .feedback-container .slider-item-container .client-container .name-work-container {
  display: block;
  margin: auto auto auto 0;
}
.feedback .feedback-container .slider-item-container .client-container .name-work-container .client-name {
  display: block;
  margin-right: auto;
  color: #ffc61a;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Lato-black', sans-serif;
}
.feedback .feedback-container .slider-item-container .client-container .name-work-container .client-work {
  display: block;
  margin-right: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: 'Lato-black', sans-serif;
}
/* Section Call to Action */
.call-to-action {
  text-align: center;
  background-color: #ffc61a;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.call-to-action .order-text {
  font-size: 3rem;
  color: #010101;
  font-family: 'Lato-black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 768px) {
  .call-to-action .order-text {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) and (max-width: 490px) {
  .call-to-action .order-text {
    font-size: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 490px) and (max-width: 400px) {
  .call-to-action .order-text {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.call-to-action .phone-text {
  font-size: 7rem;
  color: #010101;
  font-family: 'Lato-black', sans-serif;
  white-space: nowrap;
  text-align: center;
  line-height: 7rem;
}
@media (max-width: 768px) {
  .call-to-action .phone-text {
    font-size: 5rem;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  .call-to-action .phone-text {
    font-size: 2rem;
    line-height: 2rem;
  }
}
/* Footer */
.footer {
  background-color: #010101;
  padding-bottom: 2rem;
}
.footer .info-text {
  margin-top: 4.6rem;
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Lato-reg', sans-serif;
  color: #ffffff;
  width: 100%;
}
.footer svg {
  width: 2rem;
  height: 2rem;
  fill: #ffc61a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
.footer svg:hover {
  fill: #ffffff;
  cursor: pointer;
}
.footer svg:nth-child(2) {
  width: 3rem;
  height: 3rem;
}
.footer .about-container,
.footer .download-container,
.footer .contacts-container {
  max-width: 34rem;
  width: 100%;
}
@media (max-width: 768px) {
  .footer .about-container,
  .footer .download-container,
  .footer .contacts-container {
    margin-bottom: 5rem;
  }
}
.footer .copyrights-container {
  padding-top: 10rem;
}
.footer .copyrights-container .copyright {
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
}
.footer h6 {
  font-size: 2.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 0.8rem solid #ffc61a;
  padding-bottom: 3.8rem;
  width: 100%;
}
@media (max-width: 768px) {
  .footer h6 {
    text-align: center;
  }
}
.footer .about-container .social-icon-container {
  margin-top: 4rem;
}
.footer .download-container .mobile-device-container .info-text {
  margin-top: 4.6rem;
  text-align: left;
  font-size: 1.8rem;
  color: #ffc61a;
  line-height: 1rem;
}
.footer .download-container .android-dev,
.footer .download-container .apple-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 18rem;
}
.footer .download-container .android-dev:hover,
.footer .download-container .apple-dev:hover {
  cursor: pointer;
}
.footer .download-container .android-dev:hover svg,
.footer .download-container .apple-dev:hover svg {
  fill: #ffc61a;
}
.footer .download-container .apple-dev .info-text {
  margin-top: 2rem;
}
.footer .download-container svg {
  width: 3rem;
  height: 3rem;
  fill: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
.footer .download-container svg:hover {
  fill: #ffc61a;
  cursor: pointer;
}
.footer .contacts-container {
  min-width: 34rem;
  width: 100%;
}
.footer .contacts-container .info-text {
  margin-top: 2rem;
  display: block;
}
.footer .contacts-container svg {
  width: 3rem;
  height: 3rem;
  fill: #ffffff;
  margin: auto 2.7rem auto auto;
}
.footer .contacts-container .city,
.footer .contacts-container .contact-phone,
.footer .contacts-container .mail,
.footer .contacts-container .website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .contact-info-container {
  padding-top: 2rem;
}
/* Adaptive */
@media (max-width: 992px) {
  #menu {
    width: 100%;
    padding-left: 0;
    font-size: 1.2rem;
  }
  #menu a {
    padding: 0.1rem 0.5rem;
  }
  #menu a:hover {
    padding: 0.1rem 0.5rem;
  }
  #main-text {
    padding-bottom: 25rem;
  }
  #main-text .order-text {
    font-size: 2.5rem;
  }
  #main-text .phone-text {
    font-size: 5rem;
  }
  #main-text .website-text {
    font-size: 1.5rem;
  }
  #main-text .main-car {
    margin-top: 1.5rem;
  }
  #about-booking-form .head-line-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  #about-booking-form h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  #about-booking-form .booking-form span {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #menu {
    font-size: 1rem;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #menu a {
    padding: 0.1rem 0.5rem;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #menu a:hover {
    padding: 0.1rem 0.5rem;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #main-text {
    padding-bottom: 19rem;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #main-text .main-car {
    width: 50%;
    left: 25%;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about-booking-form .head-line-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about-booking-form h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about-booking-form .booking-form {
    margin: auto;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about-booking-form .info-text {
    text-align: center;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about-booking-form .button {
    display: block;
    margin: auto;
  }
}
@media (max-width: 768px) {
  #header {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) and (max-width: 664px) {
  #header .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) and (max-width: 664px) {
  #header .menu {
    margin: 1rem auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) and (max-width: 664px) and (max-width: 340px) {
  #header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) and (max-width: 664px) {
  #main-text {
    padding-bottom: 14rem;
  }
  #main-text .main-car {
    top: 12rem;
  }
  #main-text .phone-text {
    font-size: 4rem;
    line-height: 4rem;
  }
  #main-text .website-text {
    letter-spacing: 0.5rem;
  }
}
@media (max-width: 768px) and (max-width: 664px) and (max-width: 340px) {
  #main-text {
    padding-bottom: 9rem;
    padding-top: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 664px) and (max-width: 340px) {
  #main-text .phone-text {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 664px) and (max-width: 340px) {
  #main-text .website-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
